{% extends 'base/private.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Levels</h1>
        </div>
    </div>

    <ul>
        {% for level in levels %}
            <li>
                {{ level.name }} ({{ level.min }} - {{ level.max }}) |
                <a href="{% url 'levels:level' id=level.pk %}">View</a> -
                <a href="{% url 'levels:edit' id=level.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'levels:new' %}">New Level</a>

{% endblock %}