{% extends 'base/private.html' %}

{% block title %}Areas{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Areas</h1>
            <div>
                {% if perms.areas.add_area %}
                    <a href="{% url 'areas:create_area' %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Create Area
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

<div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Milestones</th>
                          <th>Created At</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Milestones</th>
                          <th>Created At</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for area in area_list %}
                            <tr>
                                <td>{{ area.name }}</td>
                                <td>
                                    <a href="{% url 'milestones:index' %}?area={{ area.name }}" class="btn btn-primary">View</a>
                                    Count: {{ area.milestone_set.all.count }}
                                </td>
                                <td>{{ area.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if perms.areas.view_area %}
                                            <a class="btn btn-primary" href="{% url 'areas:area_detail' area_id=area.pk %}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        {% endif %}
                                        {% if perms.areas.change_area %}
                                            <a class="btn btn-success" href="{% url 'areas:edit_area' area_id=area.pk %}">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        {% endif %}
                                        {% if perms.areas.delete_area %}
                                            <a class="btn btn-danger" href="{% url 'areas:delete_area' area_id=area.pk %}">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
                {% include 'base/pagination.html' %}
            </div>
        </div>
</div>


{% endblock %}