{% extends 'user_passwd_reset/email_layout.html' %}

{%block content %}
<table>
    <tr>
        <td>
            <h3>Hola, {{ data.user.first_name }} {{ data.user.last_name }}</h3>
            <br><br>
            <p>Lo estas haciendo muy bien, gracias por tu labor.</p>
            <br><br>
            <p>En el archivo adjunto puedes encontrar el reporte semanal de tus Grupos Afini.
            </p>
            <br><br>
            <p>Gracias por tu labor. Para cualquier duda o consulta escribe a <strong>profesionales@afinidata.com</strong></p>
        </td>
    </tr>
</table>
{% endblock %}
