{% if perms.milestones.view_milestone %}

<hr class="sidebar-divider">

<div class="sidebar-heading">Contenido</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMilestones" aria-expanded="true" aria-controls="collapseMilestones">
      <i class="fas fa-trophy"></i>
      <span>Hitos de Desarrollo</span>
    </a>
    <div id="collapseMilestones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Hitos de Desarrollo:</h6>
        <a class="collapse-item" href="{% url 'milestones:index' %}">Todos los Hitos</a>
        <a class="collapse-item" href="{% url 'milestones:new' %}">Añadir nuevo</a>
      </div>
    </div>
</li>

{% endif %}

{% if perms.milestones.view_milestone %}

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTopics" aria-expanded="true" aria-controls="collapseTopics">
      <i class="fas fa-book-open"></i>
      <span>Temas</span>
    </a>
    <div id="collapseTopics" class="collapse" aria-labelledby="collapseTopics" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Temas:</h6>
        <a class="collapse-item" href="{% url 'topics:topic_list' %}">Todos los Temas</a>
      </div>
    </div>
</li>

{% endif %}
