{% if perms.milestones.view_milestone %}

<hr class="sidebar-divider">

<div class="sidebar-heading">Content</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMilestones" aria-expanded="true" aria-controls="collapseMilestones">
      <i class="fas fa-trophy"></i>
      <span>Milestones</span>
    </a>
    <div id="collapseMilestones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Milestones:</h6>
        <a class="collapse-item" href="{% url 'milestones:index' %}">All Milestones</a>
        <a class="collapse-item" href="{% url 'milestones:new' %}">Add New</a>
      </div>
    </div>
</li>

{% endif %}

{% if perms.milestones.view_milestone %}

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTopics" aria-expanded="true" aria-controls="collapseTopics">
      <i class="fas fa-book-open"></i>
      <span>Topics</span>
    </a>
    <div id="collapseTopics" class="collapse" aria-labelledby="collapseTopics" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Topics:</h6>
        <a class="collapse-item" href="{% url 'topics:topic_list' %}">All Topics</a>
      </div>
    </div>
</li>

{% endif %}
