<hr class="sidebar-divider">

<div class="sidebar-heading">Usuarios</div>

{% if perms.groups.view_all_groups or perms.groups.view_user_groups %}

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-layer-group"></i>
      <span>Grupos</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Grupos:</h6>
          {% if perms.groups.view_all_groups %}
            <a class="collapse-item" href="{% url 'groups:groups' %}">Todos los Grupos</a>
          {% endif %}
          {% if perms.groups.view_user_groups %}
            <a class="collapse-item" href="{% url 'groups:my_groups' %}">Mis Grupos</a>
          {% endif %}
          {% if perms.groups.add_group %}
            <a class="collapse-item" href="{% url 'groups:group_create' %}">Crear Grupo</a>
          {% endif %}
      </div>
    </div>
</li>

{% endif %}

{% if perms.messenger_users.view_all_messenger_users %}

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-users"></i>
      <span>Usuarios del Bot</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Usuarios del Bot:</h6>
          {% if perms.messenger_users.view_all_messenger_users %}
                <a class="collapse-item" href="{% url 'messenger_users:index' %}">Todos los usuarios</a>
          {% endif %}
        {% if perms.groups.view_group %}
            {% for group in request.user.group_set.all %}
                <a class="collapse-item" href="{% url 'groups:messenger_user_list' group_id=group.pk %}">Usuarios de {{ group.name }}</a>
            {% endfor %}
        {% endif %}
        {% if perms.messenger_users.add_user %}
            <a href="{% url 'messenger_users:create_afini_user' %}" class="collapse-item">Crear Usuario de Afinidata</a>
        {% endif %}
      </div>
    </div>
</li>

{% endif %}

{% if perms.instances.view_all_instances %}

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstances" aria-expanded="true" aria-controls="collapseInstances">
      <i class="fas fa-fw fa-user"></i>
      <span>Instancias</span>
    </a>
    <div id="collapseInstances" class="collapse" aria-labelledby="headingInstances" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Instancias:</h6>
          {% if perms.instances.view_all_instances %}
            <a class="collapse-item" href="{% url 'instances:index' %}">Todas las instancias</a>
          {% endif %}
          {% if perms.instances.add_instance %}
            <a class="collapse-item" href="{% url 'instances:new' %}">Crear Instancia</a>
          {% endif %}
      </div>
    </div>
</li>

{% endif %}

