{% extends 'base/private.html' %}

{% block title %}Language Codes to: {{ language.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Language Codes: {{ language.name }}</h1>
            {% if perms.languages.add_languagecode %}
                <a href="{% url 'languages:language_code_create' language_id=language.pk %}"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Create Language Code</a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Language List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Language</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Language</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object }}</td>
                                <td>{{ object.description }}</td>
                                <td><a href="{% url 'languages:language_detail' language_id=object.language_id %}">
                                    {{ object.language.name }}</a></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

{% endblock %}