{% extends 'base/private.html' %}

{% block title %}Language {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Language: {{ object.name }}</h1>
            {% if perms.languages.add_language %}
                <a href="{% url 'languages:language_list' %}"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-list fa-sm text-white-50"></i> All Languages</a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">Description: </strong><span>{{ object.description }}</span><br>
                <strong class="text-gray-900">Available: </strong>
                {% if object.available %}
                     <i class="fas fa-check-circle text-success"></i>
                {% endif %}
                {% if not object.available %}
                    <i class="fas fa-times-circle text-danger"></i>
                {% endif %}<br>
                {% if object.redirect %}
                    <strong class="text-gray-900">Available: </strong>
                    <a href="{% url 'languages:language_detail' language_id=object.redirect_id %}">{{object.redirect.name}}</a><br>
                {% endif %}
                <strong class="text-gray-900">Created At: </strong><span>{{ object.created_at }}</span><br>
                <strong class="text-gray-900">Updated At: </strong><span>{{ object.updated_at }}</span><br>
                <strong class="text-gray-900">Actions: </strong>
                <div class="btn btn-group">
                    {% if perms.languages.change_languate %}
                        <a href="{% url 'languages:language_edit' language_id=object.pk %}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Codes</h1>
            {% if perms.languages.add_languagecode %}
                <div>
                    <a href="{% url 'languages:language_code_create' language_id=object.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Create Language Code</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Language Code List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for code in object.languagecode_set.all %}
                            <tr>
                                <td>{{ code }}</td>
                                <td>{{ code.description }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'languages:language_code' language_id=object.pk language_code_id=code.pk %}"
                                           class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
{% endblock %}