{% load widget_tweaks %}

{% if delete_message %}
<strong class="text-gray-800">{{ delete_message }}</strong><br><br>
{% endif %}

{% for field in form %}
    {% if field|widget_type == 'checkboxselectmultiple' %}
        <div class="form-check">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% else %}
        <div class="form-group">

            {{ field.label_tag }}
            {% if 'Attribute:' in field.label_tag %}
                <input type="hidden" v-model="attribute" id="id_attribute" class="form-control" name="attribute" >
                <v-select v-model="attributeTmp" :options="{{attributes}}" @input="setSelected"></v-select>
                {{ field.errors }}
            {% else %}
                {% if field.type == 'checkbox' %}
                    {% render_field field required='required' %}
                {% else %}
                    {% if field_maxlength %}
                        {% render_field field class='form-control' maxlength=field_maxlength %}
                    {% else %}
                        {% render_field field class='form-control' %}
                    {% endif %}
                {% endif %}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endif %}

        </div>
    {% endif %}
{% endfor %}