{% extends 'pages/layout.html' %}

{%block content%}
    <!-- token es valido -->
    <div class="row">
        <div class="col">
            <h3 class="text-center my-4">Cambiar su clave</h3>
            <form action="{% url 'pages:password_reset_complete' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">Clave</label>
                    <input type="password" name="password" placeholder="Ingrese su nueva clave" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password_confirm">Confirme su clave</label>
                    <input type="password" name="password_confirm" placeholder="Ingrese nuevamente su nueva clave" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-custom">Cambiar clave</button>
                </div>
            </form>
            <!-- token es invalido -->
            {% comment %}
                <p>
                    El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.
                </p>
            {% endcomment %}
        </div>
    </div>
{%endblock%}
