{% extends 'base/private.html' %}

{% block title %}Create Program{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Program</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form action="." method="post">
                    {% csrf_token %}
                    {% include 'base/default_form.html' %}
                    <a href="{% url 'utilities:new_program' %}" class="btn btn-primary">Create Program</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}