{% extends 'password_reset/layout.html' %}

{%block content%}
    <div class="row">
        <div class="col">
            <p class="my-5">
                Su contraseña ha sido cambiada exitosamente. Puedes continuar e ingresar en la aplicación haciendo clic en el siguiente enlace.
            </p>
            <div class="my-5">
                <a href="{% url 'pages:login' %}" class="btn btn-primary btn-block btn-custom">Iniciar sesión</a>
            </div>
        </div>
    </div>
{%endblock%}
