{% extends 'user_passwd_reset/email_layout.html' %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                <h3>Hola, {{ user.first_name }} {{ user.last_name }}</h3>
                <br>
                <p>¡Has solicitado un cambio de tu contrase&ntilde;a para el usuario <strong>{{user.username}}</strong>!</p>
                <br>
                <p>Para completar el cambio de contrase&ntilde;a, por favor visita el siguiente enlace:</p>
                <br>
                <p style="text-align:center">
                    <a href="{{request.scheme}}://{{request.get_host }}{% url 'user_passwd_reset:password_reset_confirm' token %}" target="_blank">{{request.scheme}}://{{request.get_host }}{% url 'user_passwd_reset:password_reset_confirm' token %}</a>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
