{% extends 'user_passwd_reset/layout.html' %}

{%block content%}
    <div class="row">
        <div class="col">
            {{ valid_token }}
            {% if valid_token %}
            <h3 class="text-center my-4">Cambiar su clave</h3>
            <form action="{% url 'user_passwd_reset:password_reset_confirm' token %}" method="post">
                {% csrf_token %}
                {% for item in form %}
                    <div class="form-group">
                        <label for="">{{item.label_tag}}</label>

                        {{ item }}

                        {% if item.errors %}
                            <div class="invalid-feedback">
                                {{item.errors}}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-custom">Cambiar clave</button>
                </div>
            </form>
            {% else %}
                <p class="my-4">
                    El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.
                </p>
                <div class="text-center m-2">
                    <a href="{% url  'pages:login' %}" class="btn btn-primary btn-block btn-custom">Volver al inicio</a>
                </div>
            {% endif %}
        </div>
    </div>
{%endblock%}
