{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
{% load static %}
<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Cargando...
</div>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="col-xl-9 col-md-9 mb">
                <h1 class="h3 mb-0 text-black-800 group-title" data-group-id="{{ object.pk }}">Group: {{ object.name }}</h1>
            </div>
            <div class="col-xl-3 col-md-3 mb">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invitarFamilias">
                  Invitar Familias
                </button>

                <!-- Modal -->
                <div class="modal fade" id="invitarFamilias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invitar Familias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          Copia el siguiente link para invitar familias Afinidata <br/><br/>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ref:</span>
                              </div>
                          <input type="text" class="form-control" readonly placeholder="{{ ref }}" aria-label="{{ ref }}" aria-describedby="basic-addon2" value="{{ ref }}" id="myref">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()"><i class="far fa-copy"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                      </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_1.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total usuarios</h5>
                    <h5 class="card-text">{{ object.assignationmessengeruser_set.all.count }}</h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_2.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total niños</h5>
                    <h5 class="card-text" id="children"><i class="fas fa-spinner fa-pulse"></i></h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_3.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Actividades enviadas</h5>
                    <h5 class="card-text" id="assignations"><i class="fas fa-spinner fa-pulse"></i></h5>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
<div class="container-fluid bg-white">
    <div class="container-fluid d-flex flex-column">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="milestonesCard">
                              <img class="card-img shadow-none" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                              <div class="card-img-overlay shadow-none d-flex flex-column justify-content-end">
                                <p class="card-text"><span id="milestones_count"><i class="fas fa-spinner fa-pulse"></i></span>
                                    <br/>Niños con Riesgos de Desarrollo</p>
                              </div>
                            </div>
                        </div>
                        {% for attribute_type in attribute_types %}
                            <div class="col-xs-12">
                                <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="attribute_type_{{ attribute_type.id }}">
                                {% if attribute_type.id == 2 %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                                    {% else %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.57.53.png" alt="Card image">
                                {% endif %}
                                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <p class="card-text"><span id="attribute_type_count_{{ attribute_type.id }}"><i class="fas fa-spinner fa-pulse"></i></span>
                                        <br/>{{ attribute_type.name }}</p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 border-0" style="min-height: 300px">
                <br/><br/><br/>
                <canvas id="chart" width="0" height="0" style=""></canvas>
                {% for attribute_type in attribute_types %}
                    <div id="chartRiskContainer{{ attribute_type.id }}" style="height: 70%;"></div>
                {% endfor %}
                <div id="chartMilestonesContainer" style="height: 75%;"></div>
            </div>
        </div>
    </div>

</div>
    <br/>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex"><div class="container-fluid d-flex flex-column justify-content-start">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h6 class="m-0 font-weight-bold text-primary" id="filtrado_por">Mostrando últimos 10 usuarios: </h6><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Edad:</span>
                          </div>
                            <input type="text" class="form-control" placeholder="Buscar por edad (meses)" id="search_months" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" >Nombre:</span>
                          </div>
                          <input class="form-control mr-sm-2" type="search" id="search_name" placeholder="Buscar por nombre" aria-label="Search">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Encargado:</span>
                          </div>
                          <input class="form-control mr-sm-2" type="search" id="search_username" placeholder="Buscar por encargado" aria-label="Search">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchInstances()">Buscar</button>
                    </div>
                </div></div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="table_id" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Direción</th>
                            <th scope="col">Nivel de riesgo</th>
                            <th scope="col">Reporte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignation in last_assignations %}
                        {% for instance in assignation.instances %}
                            <tr id="row_{{ instance.id }}">
                                <td style="padding:0px; border:0px;"><img class="img-circle rounded-circle" src="{% static instance.image %}" width="50" height="50" style="padding:0px; border:0px;"></img></td>
                                <td>
                                    <a href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-chevron-circle-down"></i></a>
                                    {{ instance.name }}
                                </td>
                                <td>
                                    <a href="{% url 'messenger_users:user' id=assignation.messenger_user_id %}"><i class="fas fa-chevron-circle-down"></i></a>
                                    {{ assignation.get_messenger_user.first_name }} {{ assignation.get_messenger_user.last_name }}
                                </td>
                                <td>{{ instance.months }}</td>
                                <td>{{ instance.birthday }}</td>
                                <td>{{ instance.telefono }}</td>
                                <td>{{ instance.direccion }}</td>
                                <td>
                                    {% if instance.risk == 0 %}
                                        <button type="button" class="btn btn-success">Bajo</button>
                                    {% elif instance.risk == 1 %}
                                        <button type="button" class="btn btn-warning">Medio</button>
                                    {% else %}
                                        <button type="button" class="btn btn-danger">Alto</button>
                                    {% endif %}

                                </td>
                                <td><button class="btn reportButton"><a href="https://contentmanager.afinidata.com/instances/{{ instance.pk }}/milestones/" class="btn btn-primary" role="button" target="_blank" aria-pressed="true"><i class="far fa-chart-bar"></i></a></button>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">María Perez</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        <h5 class="modal-title" style="padding: 10px;">Factores de riesgo:</h5>
          <div class="row" >
              <ul>
                  <li>Nacimiento con bajo peso:
                    <span class="badge badge-pill badge-warning">Bajo peso</span>
                  </li>
                  <li>Fue prematuro:
                        <span class="badge badge-pill badge-success" id="prematuro_1">No fue prematuro</span>
                        <span class="badge badge-pill badge-warning" id="prematuro_2">Fue prematuro</span>
                  </li>
                  <li>Discapacidad o riesgo:
                    <span class="badge badge-pill badge-success">No tiene discapacidad o riesgo</span>
                  </li>
              </ul>
            </div>
          <h5 class="modal-title" style="padding: 10px;">Situación actual:</h5>
          <div class="row" >

              <ul><i>Has click para editar:</i>
                  <li>Anemia:
                    <span class="badge badge-pill badge-success" id="anemia_1">No diagnosticado</span>
                    <span class="badge badge-pill badge-danger" id="anemia_2">Si tiene</span>
                  </li>
                  <li>Lactancia y suplementación:
                    <span class="badge badge-pill badge-warning" id="lactancia_1">Le da suplementos</span>
                    <span class="badge badge-pill badge-success" id="lactancia_2">Leche materna y comida</span>
                    <span class="badge badge-pill badge-danger" id="lactancia_3">No se la da nada</span>
                  </li>
                  <li>Vacunación:
                    <span class="badge badge-pill badge-danger" id="vacunacion_1">No se ha vacunado</span>
                    <span class="badge badge-pill badge-success" id="vacunacion_2">Ya se vacunó</span>
                  </li>
              </ul>
            </div>
        <h5 class="modal-title" style="padding: 10px;">Datos del responsable:</h5>
          <div class="row">
              <ul>
                  <li>Relación con el niño:
                        <span class="badge badge-pill badge-success">Mamá</span>
                  </li>
                  <li>Educación:
                      <span class="badge badge-pill badge-success">Secundaria</span>
                  </li>
                  <li>Edad:
                     <span class="badge badge-pill badge-danger">Menos de 18</span>
                  </li>
                  <li>Cuenta con apoyo:
                     <span class="badge badge-pill badge-danger">No cuenta con apoyo</span>
                  </li>
              </ul>
            </div>
            <h5 class="modal-title" style="padding: 10px;">Seguimiento:</h5>
            <div class="row" style="width:100%; padding-left:40px;">
                <select class="form-control">
                  <option>Sin seguimiento</option>
                  <option>Por llamar</option>
                  <option>Se intentó contactar</option>
                  <option>Ya se contactó</option>
                </select>
            </div>
            <h5 class="modal-title" style="padding: 10px;">Observaciones:</h5>
            <div class="row" style="width:100%; padding-left:40px;">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<style>
/* Boostrap Buttons Styling */

h{
    font-size: 14px;
    font-size: max(1.1vw, 15px);
}
p{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}

h5{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}
table {border: 0px;}
tr, td {border: 0px;}
show{
  transition: opacity 0.6s linear;
  transform: scale(1.1);
}

.zoom:hover {
  transform: scale(1.1); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}

.btn-default {
  font-size: 17px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
  font-size: 17px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
  font-size: 17px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info {
  font-size: 17px;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
  font-size: 17px;
  color: rgba(240, 173, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: #FFF;
  background: rgb(240, 173, 78, 0.75);
  border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
  font-size: 17px;
  color: rgba(217, 83, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #4F73DF;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    const DOMAIN =  window.location.origin
    const GROUP_ID = document.querySelector('.group-title').dataset.groupId;
    const URI = `${DOMAIN}/utilities/group_assignations/`

    function copyToClipboard() {
      var copyText = document.getElementById("myref");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }

    function getRequest(data, callback){
       if(GROUP_ID) {
            $('#overlay').fadeIn();
            data.append('group', String(GROUP_ID));
            let request = fetch(URI, {
               method: 'post',
               body: data
            })
            .then(r => r.json())
            .then(r => {
                callback(r);
                $('#overlay').fadeOut();
            })
       }
    }

    function writeRow(instance){
        rowHTML = '<tr id="row_'+instance.id+'">' +
            '<td style="padding:0px; border:0px;"><img class="img-circle rounded-circle" src="https://core.afinidata.com/static/images/'+instance.image+'" width="50" height="50" style="padding:0px; border:0px;"></img></td>' +
            '<td><a href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-chevron-circle-down"></i></a> ' + instance.name + '</td>' +
            '<td><a href="https://core.afinidata.com/users/'+instance.user_id+'/"><i class="fas fa-chevron-circle-down"></i></a> ' + instance.username + '</td>' +
            '<td>'+instance.months+'</td>' +
            '<td>'+instance.birthdate+'</td>' +
            '<td>'+instance.tel+'</td>' +
            '<td>'+instance.dir+'</td>';
        if(instance.risk == 0){ rowHTML += '<td><button type="button" class="btn btn-success">Bajo</button></td>'; }
        else if (instance.risk == 1){ rowHTML += '<td><button type="button" class="btn btn-warning">Medio</button></td>'; }
        else{ rowHTML += '<td><button type="button" class="btn btn-danger">Alto</button></td>'; }

        rowHTML +='<td><button class="btn reportButton"><a href="https://contentmanager.afinidata.com/instances/'+instance.id+'/milestones/" class="btn btn-primary" role="button" target="_blank" aria-pressed="true"><i class="far fa-chart-bar"></i></a></button></td></tr>';
        $("#table_id tbody").append(rowHTML);
    }

    function filterInstances(e) {
        let data = new FormData();
        if('program_attribute_id' in e.dataPoint){
            data.append('attribute_id', String(e.dataPoint.program_attribute_id));
        }
        if('milestone_id' in e.dataPoint){
            data.append('milestone_id', String(e.dataPoint.milestone_id));
        }
        $("#table_id tbody tr").remove();
        getRequest(data, function(r){
            $("#filtrado_por").text("Filtrado por: "+e.dataPoint.label);
            $("#search_name").val("");
            r.data.forEach(function(instance){ writeRow(instance); });
            $("body,html").animate({scrollTop: $("#table_id").offset().top}, 800);
        });
    }

    function searchInstances(){
        let data = new FormData();
        if($("#search_name").val() != '' || $("#search_username").val() != '' || $("#search_months").val()){
            data.append('name', String($("#search_name").val()));
            data.append('username', String($("#search_username").val()));
            data.append('months', String($("#search_months").val()));
            $("#table_id tbody tr").remove();
            getRequest(data, function(r){
                $("#filtrado_por").text("Filtrado por:");
                r.data.forEach(function(instance){ writeRow(instance); });
                $("body,html").animate({scrollTop: $("#table_id").offset().top}, 800);
            });
        }
    }

    (() => {
       window.addEventListener('load', e => {
            let data = new FormData();
            data.append('group', String(GROUP_ID));
            getRequest(data, function(r){
                document.querySelector('#assignations').textContent = r.data.count
                document.querySelector('#children').textContent = r.data.children
                chartsArray = []
                for (i = 0; i < r.factores_riesgo.length; i++) {
                    document.querySelector('#attribute_type_count_'+r.factores_riesgo[i].id).textContent = r.factores_riesgo[i].total;
                    chartsArray[i] = {id:r.factores_riesgo[i].id, chart:new CanvasJS.Chart("chartRiskContainer"+r.factores_riesgo[i].id, chartStartData)};
                    chartsArray[i]['chart'].options.data[0].dataPoints = r.factores_riesgo[i].factores_riesgo;
                    chartsArray[i]['chart'].render();
                    $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                }
                document.querySelector('#milestones_count').textContent = r.milestones_count;
                chartMilestones.options.data[0].dataPoints = r.milestones;
                chartMilestones.options.axisX.labelFontSize = 14;
                $("#chartMilestonesContainer").show();
                chartMilestones.render();
                $('#milestonesCard').click(function () {
                    for(i = 0; i < chartsArray.length; i++){
                        $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                    }
                    $("#chartMilestonesContainer").show();
                });
                $(('[id^="attribute_type_"]')).click(function () {
                    $("#chartMilestonesContainer").hide();
                    for(i = 0; i < chartsArray.length; i++){
                        $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                        if("attribute_type_"+chartsArray[i]['id'] == $(this).attr('id')){
                            $("#chartRiskContainer"+chartsArray[i]['id']).show();
                        }
                    }
                });
            });
       })
    })()

    window.onload = function () {
        var bar_ctx = document.getElementById('chart').getContext('2d');
        var background_1 = bar_ctx.createLinearGradient(0, 0, 600, 0);
        background_1.addColorStop(0, 'rgb(0,89,217)');
        background_1.addColorStop(1, 'rgb(105,176,255)');
        chartStartData = {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            axisY: {
                includeZero: true,
                valueFormatString:" "
            },
            axisX:{
              labelFontFamily: "tahoma",
              labelFontSize: 16
            },
            data: [{
                type: "bar",
                click: filterInstances,
                color: background_1,
                indexLabelFontFamily: "tahoma",
                indexLabelFontSize: 18,
                indexLabelPlacement: "inside",
                indexLabel: "{y} {y_label}",
                toolTipContent: "{label}: {y}",
                showInLegend: false,
                indexLabelFontColor: "white",
                legendMarkerColor: "white",
                legendText: "Respuestas",
                includeZero: true,
                cursor: "pointer",
                dataPoints: [{ y: 0, y_label: "", label: "Loading..." }]
            }]
        }
        chartMilestones = new CanvasJS.Chart("chartMilestonesContainer", chartStartData);
        $("#anemia_1").hide();
        $('[id^="anemia_"]').click(function() {
          $( "#anemia_1" ).toggle();
          $( "#anemia_2" ).toggle();
        });

        $("#prematuro_2").hide();
        $('[id^="prematuro_"]').click(function() {
          $( "#prematuro_1" ).toggle();
          $( "#prematuro_2" ).toggle();
        });

        $("#vacunacion_2").hide();
        $('[id^="vacunacion_"]').click(function() {
          $( "#vacunacion_1" ).toggle();
          $( "#vacunacion_2" ).toggle();
        });

        $("#lactancia_1").hide();
        $("#lactancia_3").hide();
        $('#lactancia_1').click(function() {$( "#lactancia_1" ).toggle(); $( "#lactancia_2" ).toggle();});
        $('#lactancia_2').click(function() {$( "#lactancia_2" ).toggle(); $( "#lactancia_3" ).toggle();});
        $('#lactancia_3').click(function() {$( "#lactancia_3" ).toggle(); $( "#lactancia_1" ).toggle();});
    }
    </script>

{% endblock %}