{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
{% load static %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="col-xl-9 col-md-9 mb">
                <h1 class="h3 mb-0 text-black-800 group-title" data-group-id="{{ object.pk }}">Group: {{ object.name }}</h1>
            </div>
            <div class="col-xl-3 col-md-3 mb">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invitarFamilias">
                  Invite Families
                </button>

                <!-- Modal -->
                <div class="modal fade" id="invitarFamilias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invite Families</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          Copy the following link to invite families to Afinidata <br/><br/>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ref:</span>
                              </div>
                          <input type="text" class="form-control" readonly placeholder="{{ ref }}" aria-label="{{ ref }}" aria-describedby="basic-addon2" value="{{ ref }}" id="myref">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()"><i class="far fa-copy"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_1.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total users</h5>
                    <h5 class="card-text">{{ object.assignationmessengeruser_set.all.count }}</h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_2.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total children</h5>
                    <h5 class="card-text">{{ children }}</h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_3.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Sent Activities</h5>
                    <h5 class="card-text assignations"><i class="fas fa-spinner fa-pulse"></i></h5>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
<div class="container-fluid bg-white">
    <div class="container-fluid d-flex flex-column">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="milestonesCard">
                              <img class="card-img shadow-none" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                              <div class="card-img-overlay shadow-none d-flex flex-column justify-content-end">
                                <p class="card-text"><span id="milestones_count"><i class="fas fa-spinner fa-pulse"></i></span>
                                    <br/>Children with Development Risks</p>
                              </div>
                            </div>
                        </div>
                        {% for attribute_type in attribute_types %}
                            <div class="col-xs-12">
                                <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="attribute_type_{{ attribute_type.id }}">
                                {% if attribute_type.id == 2 %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                                    {% else %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.57.53.png" alt="Card image">
                                {% endif %}
                                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <p class="card-text"><span id="attribute_type_count_{{ attribute_type.id }}"><i class="fas fa-spinner fa-pulse"></i></span>
                                        <br/>{{ attribute_type.name }}</p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 border-0" style="min-height: 300px">
                <br/><br/><br/>
                <canvas id="chart" width="0" height="0" style=""></canvas>
                {% for attribute_type in attribute_types %}
                    <div id="chartRiskContainer{{ attribute_type.id }}" style="height: 70%;"></div>
                {% endfor %}
                <div id="chartMilestonesContainer" style="height: 75%;"></div>
            </div>
        </div>
    </div>

</div>
    <br/>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary" id="filtrado_por">Show All: </h6>
                <form class="form-inline" id="form_id">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </form>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="table_id">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Caregiver</th>
                            <th scope="col">Age</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Risk Background</th>
                            <th scope="col">Current Risks</th>
                            <th scope="col">Report</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignation in last_assignations %}
                        {% for instance in assignation.instances %}
                            <tr id="row_{{ instance.id }}">
                                <td style="padding:0px; border:0px;"><img class="img-circle" src="{% static instance.image %}" width="50" height="50" style="padding:0px; border:0px;"></img></td>
                                <td>
                                    <a href="{% url 'instances:instance' id=instance.pk %}">{{ instance.name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'messenger_users:user' id=assignation.messenger_user_id %}">{{ assignation.get_messenger_user.first_name }} {{ assignation.get_messenger_user.last_name }}</a>
                                </td>
                                <td>{{ instance.months }}</td>
                                <td>{{ instance.birthday }}</td>
                                <td>{{ instance.telefono }}</td>
                                <td>{{ instance.direccion }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger">High</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">High</button>
                                </td>
                                <td><button class="btn"><a href="https://contentmanager.afinidata.com/instances/{{ instance.pk }}/milestones/" class="btn btn-primary" role="button" target="_blank" aria-pressed="true"><i class="far fa-chart-bar"></i></a></button>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<style>
/* Boostrap Buttons Styling */

h{
    font-size: 14px;
    font-size: max(1.1vw, 15px);
}
p{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}

h5{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}

show{
  transition: opacity 0.6s linear;
  transform: scale(1.1);
}

.zoom:hover {
  transform: scale(1.1); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}

.hide {

}

.btn-default {
  font-size: 17px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
  font-size: 17px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
  font-size: 17px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info {
  font-size: 17px;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
  font-size: 17px;
  color: rgba(240, 173, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: #FFF;
  background: rgb(240, 173, 78, 0.75);
  border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
  font-size: 17px;
  color: rgba(217, 83, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    function copyToClipboard() {
      var copyText = document.getElementById("myref");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }
        (() => {
           window.addEventListener('load', e => {
               const DOMAIN =  window.location.origin
               const GROUP_ID = document.querySelector('.group-title').dataset.groupId

               if(GROUP_ID) {
                   const URI = `${DOMAIN}/utilities/group_assignations/`

                   let data = new FormData()
                   data.append('group', String(GROUP_ID))
                   let request = fetch(URI, {
                       method: 'post',
                       body: data
                   })
                    .then(r => r.json())
                    .then(r => {
                        document.querySelector('.assignations').textContent = r.data.count
                        chartsArray = []
	                    for (i = 0; i < r.factores_riesgo.length; i++) {
                            document.querySelector('#attribute_type_count_'+r.factores_riesgo[i].id).textContent = r.factores_riesgo[i].total;
                            chartsArray[i] = {id:r.factores_riesgo[i].id, chart:new CanvasJS.Chart("chartRiskContainer"+r.factores_riesgo[i].id, chartStartData)};
                            chartsArray[i]['chart'].options.data[0].dataPoints = r.factores_riesgo[i].factores_riesgo;
                            chartsArray[i]['chart'].render();
                            $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                        }
                        document.querySelector('#milestones_count').textContent = r.milestones_count;
                        chartMilestones.options.data[0].dataPoints = r.milestones;
                        chartMilestones.options.axisX.labelFontSize = 14;
                        $("#chartMilestonesContainer").show();
	                    chartMilestones.render();
	                    $('#milestonesCard').click(function () {
                            for(i = 0; i < chartsArray.length; i++){
                                $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                            }
                            $("#chartMilestonesContainer").show();
                        });
                        $(('[id^="attribute_type_"]')).click(function () {
                            $("#chartMilestonesContainer").hide();
                            for(i = 0; i < chartsArray.length; i++){
                                $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                                if("attribute_type_"+chartsArray[i]['id'] == $(this).attr('id')){
                                    $("#chartRiskContainer"+chartsArray[i]['id']).show();
                                }
                            }
                        });
                    })
               }
           })
        })()

        window.onload = function () {
            var bar_ctx = document.getElementById('chart').getContext('2d');
            var background_1 = bar_ctx.createLinearGradient(0, 0, 600, 0);
            background_1.addColorStop(0, 'rgb(0,89,217)');
            background_1.addColorStop(1, 'rgb(105,176,255)');
            chartStartData = {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                axisY: {
                    includeZero: true,
                    valueFormatString:" "
                },
                axisX:{
                  labelFontFamily: "tahoma",
                  labelFontSize: 16
                },
                data: [{
                    type: "bar",
                    click: filterInstances,
                    color: background_1,
                    indexLabelFontFamily: "tahoma",
                    indexLabelFontSize: 18,
                    indexLabelPlacement: "inside",
                    indexLabel: "{y} {y_label}",
                    toolTipContent: "{label}: {y}",
                    showInLegend: false,
                    indexLabelFontColor: "white",
                    legendMarkerColor: "white",
                    legendText: "Respuestas",
                    includeZero: true,
                    cursor: "pointer",
                    dataPoints: [{ y: 0, y_label: "", label: "Loading..." }]
                }]
            }
            chartMilestones = new CanvasJS.Chart("chartMilestonesContainer", chartStartData);
        }
        function filterInstances(e) {
            // $("#form_program_attribute_id").val(e.dataPoint.program_attribute_id);
            // $("#form_id").submit();
            $("#filtrado_por").text("Filtrado por: "+e.dataPoint.label);
            $("#table_id > tbody > tr").hide();
            for(i = 0; i < e.dataPoint.instances.length; i++){
                $("#row_"+e.dataPoint.instances[i]).show();
                console.log(e.dataPoint.instances[i]);
            }
            $("#table_id").focus()
            $("body,html").animate({scrollTop: $("#table_id").offset().top}, 800);
        }
    </script>

{% endblock %}