{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
{% load static %}
<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Cargando...
</div>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="col-xl-9 col-md-9 mb">
                <h1 class="h3 mb-0 text-black-800 group-title" data-group-id="{{ object.pk }}">Grupo: {{ object.name }}</h1>
            </div>
            <div class="col-xl-3 col-md-3 mb">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invitarFamilias">
                  Invite Families
                </button>

                <!-- Modal -->
                <div class="modal fade" id="invitarFamilias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invite Families</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          Copy the following link to invite families to Afinidata <br/><br/>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ref:</span>
                              </div>
                          <input type="text" class="form-control" readonly placeholder="{{ ref }}" aria-label="{{ ref }}" aria-describedby="basic-addon2" value="{{ ref }}" id="myref">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()"><i class="far fa-copy"></i> Copiar</button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                      </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_1.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total users</h5>
                    <h5 class="card-text">{{ object.assignationmessengeruser_set.all.count }}</h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_2.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Total niños</h5>
                    <h5 class="card-text" id="children"><i class="fas fa-spinner fa-pulse"></i></h5>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb">
                <div class="card bg-dark text-white">
                  <img class="card-img" src="{% static 'images/cards_bg_3.jpg' %}" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Actividades enviadas</h5>
                    <h5 class="card-text" id="assignations"><i class="fas fa-spinner fa-pulse"></i></h5>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
<div class="container-fluid bg-white">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="milestonesCard">
                              <img class="card-img shadow-none" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                              <div class="card-img-overlay shadow-none d-flex flex-column justify-content-end">
                                <p class="card-text"><span id="milestones_count"><i class="fas fa-spinner fa-pulse"></i></span>
                                    <br/>Children with Development Risks</p>
                              </div>
                            </div>
                        </div>
                        {% for attribute_type in attribute_types %}
                            <div class="col-xs-12">
                                <div class="card bg-dark text-white shadow-none my-md-2 mx-md-4 border-0 zoom" id="attribute_type_{{ attribute_type.id }}">
                                {% if attribute_type.id == 2 %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.55.15.png" alt="Card image">
                                    {% else %}
                                    <img class="card-img" src="https://estuardiaz.github.io/Captura%20de%20Pantalla%202020-10-09%20a%20la(s)%2011.57.53.png" alt="Card image">
                                {% endif %}
                                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <p class="card-text"><span id="attribute_type_count_{{ attribute_type.id }}"><i class="fas fa-spinner fa-pulse"></i></span>
                                        <br/>{{ attribute_type.name }}</p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 border-0 theme-canvas-container">
                <canvas id="chart" width="0" height="0" style=""></canvas>
                {% for attribute_type in attribute_types %}
                    <div id="chartRiskContainer{{ attribute_type.id }}" class="theme-risk-container"></div>
                {% endfor %}
                <div id="chartMilestonesContainer" style="height: 75%;"></div>
            </div>
        </div>
    </div>

</div>
    <br/>
    <div class="container-fluid" id="tableContainer">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex"><div class="container-fluid d-flex flex-column justify-content-start">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h6 class="m-0 font-weight-bold text-primary" id="filtrado_por">Mostrando últimos 10 usuarios: </h6><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12">
                        <div class="dropdown">
                          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="search_age" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Buscar por edad
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <div class="container-fluid">
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="0_3" id="search_age1" name="search_age_option">
                                  <label class="form-check-label" for="search_age1">0 a 3 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="4_6" id="search_age2" name="search_age_option">
                                  <label class="form-check-label" for="search_age2">4 a 6 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="7_9" id="search_age3" name="search_age_option">
                                  <label class="form-check-label" for="search_age3">7 a 9 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="10_12" id="search_age4" name="search_age_option">
                                  <label class="form-check-label" for="search_age4">10 a 12 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="13_15" id="search_age5" name="search_age_option">
                                  <label class="form-check-label" for="search_age5">13 a 15 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="16_18" id="search_age6" name="search_age_option">
                                  <label class="form-check-label" for="search_age6">16 a 18 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="19_21" id="search_age7" name="search_age_option">
                                  <label class="form-check-label" for="search_age7">19 a 21 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="22_24" id="search_age8" name="search_age_option">
                                  <label class="form-check-label" for="search_age8">22 a 24 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="25_30" id="search_age9" name="search_age_option">
                                  <label class="form-check-label" for="search_age9">25 a 30 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="31_35" id="search_age10" name="search_age_option">
                                  <label class="form-check-label" for="search_age10">31 a 35 meses</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <input class="form-check-input" type="checkbox" value="-9_0" id="search_age11" name="search_age_option">
                                  <label class="form-check-label" for="search_age11">Embarazo</label>
                                </div>
                                <div class="form-check dropdown-item">
                                  <button class="btn btn-primary my-2 my-sm-0" onclick="searchInstances()">Buscar <i class="fas fa-search"></i></button>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-primary my-2 my-sm-0" onclick="searchAllInstances()">Ver todos</button>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 float-right">
                        <div class="input-group mb-3 float-right">
                          <input class="form-control mr-sm-2" type="search" id="search_name" placeholder="Buscar..." aria-label="Search">
                            <div class="input-group-append" onclick="searchInstances()">
                                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                              </div>
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="table_id" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Nivel de riesgo</th>
                            <th scope="col">Reporte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignation in last_assignations %}
                        {% for instance in assignation.instances %}
                            <tr id="row_{{ instance.id }}">
                                <td style="padding:0px; border:0px;"><img class="img-circle rounded-circle" src="{% static instance.image %}" width="50" height="50" style="padding:0px; border:0px;"></img></td>
                                <td>
                                    <a href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-chevron-circle-down"></i></a>
                                    {{ instance.name }}
                                </td>
                                <td>
                                    <a href="{% url 'messenger_users:user' id=assignation.messenger_user_id %}"><i class="fas fa-chevron-circle-down"></i></a>
                                    {{ assignation.get_messenger_user.first_name }} {{ assignation.get_messenger_user.last_name }}
                                </td>
                                <td>{{ instance.months }}</td>
                                <td>{{ instance.birthday }}</td>
                                <td>{{ instance.telefono }}</td>
                                <td>{{ instance.direccion }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger">High</button>
                                </td>
                                <td><button class="btn reportButton"><a href="https://contentmanager.afinidata.com/instances/{{ instance.pk }}/milestones/" class="btn btn-primary" role="button" target="_blank" aria-pressed="true"><i class="far fa-chart-bar"></i></a></button>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
                <div class="container-fluid d-flex flex-column justify-content-start">
                    <div class="row" id="pagination">
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <h6 id="page_label">Pág. 1 / 1</h6>
                        </div>
                        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 float-right">
                            <nav aria-label="Page navigation example" class="float-right">
                              <ul class="pagination float-right">
                                <li class="page-item" onclick="changePag(-1)">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                <li class="page-item" onclick="changePag(0)"><a class="page-link" href="#" id="pag_1">1</a></li>
                                <li class="page-item active"><a class="page-link" id="pag_n">1</a></li>
                                <li class="page-item" onclick="changePag(2)"><a class="page-link" href="#" id="pag_last">1</a></li>
                                <li class="page-item" onclick="changePag(1)">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="container" id="ficha_header">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" id="ficha_instancia">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<style>
/* Boostrap Buttons Styling */

canvas {
    width: 100% !important;
}

.theme-canvas-container,
.theme-risk-container {
    height: 500px;
}

@media (max-width: 768px) {
    .theme-canvas-container,
    .theme-risk-container {
        height: 300px;
    }
}

h{
    font-size: 14px;
    font-size: max(1.1vw, 15px);
}
p{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}
h4{
    font-size: 15px;
    font-size: max(0.9vw, 15px);
    color: black;
}
h5{
    font-size: 13px;
    font-size: max(0.9vw, 13px);
}
table {border: 0px;}
tr, td {border: 0px;}
show{
  transition: opacity 0.6s linear;
  transform: scale(1.1);
}

.zoom:hover {
  transform: scale(1.1); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}

.btn-default {
  font-size: 17px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
  font-size: 17px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
  font-size: 17px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info {
  font-size: 17px;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
  font-size: 17px;
  color: rgba(240, 173, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: #FFF;
  background: rgb(240, 173, 78, 0.75);
  border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
  font-size: 17px;
  color: rgba(217, 83, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #4F73DF;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    const DOMAIN =  window.location.origin
    const GROUP_ID = document.querySelector('.group-title').dataset.groupId;
    const URI = `${DOMAIN}/utilities/group_assignations/`
    var requestData = new FormData();
    requestData.append('pag', 0);
    var total_pag = 0;

    function copyToClipboard() {
      var copyText = document.getElementById("myref");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }

    function getRequest(data, callback){
       if(GROUP_ID) {
            requestData = data;
            $('#overlay').fadeIn();
            data.set('group', String(GROUP_ID));
            let request = fetch(URI, {
               method: 'post',
               body: data
            })
            .then(r => r.json())
            .then(r => {
                if(r.hasOwnProperty('total')){
                    total_pag = Math.ceil(r.total/20)-1;
                    $("#pag_last").html(total_pag+1);
                    $("#page_label").html("Pág. " + Number(Number(requestData.get('pag')) + 1) + " / " + Number(Number(total_pag) + 1));
                    if(Number(total_pag) == 0){ $("#pagination").hide(); }
                    else{ $("#pagination").show(); }
                }
                callback(r);
            })
       }
    }

    function fichaInstancia(instance_id){
        $('#overlay').fadeIn();
        let data = new FormData();
        data.set('group_id', String(GROUP_ID));
        data.set('instance_id', String(instance_id));
        let request = fetch(`${DOMAIN}/utilities/ficha_instancia/`, {
           method: 'post',
           body: data
        })
        .then(r => r.json())
        .then(r => {
            $("#ficha_header").html('<div class="row justify-content-start">'+
                                    '<div class="col-1"><img class="img-circle rounded-circle" src="https://core.afinidata.com/static/images/'+ r.image +'" width="50" height="50" style="padding:0px; border:0px;"></img></div>'+
                                    '<div class="col-11"><h3 class="modal-title" id="exampleModalCenterTitle">'+ r.name +' </h3><a href="https://program.afinidata.com/instances/'+instance_id+'/" target="_blank"> <i class="fas fa-info-circle"></i> Ver más información</a></div></div>');
            let html = '';
            r.attributes_types.forEach(function(attributes_type){
                html += '<h4 style="padding: 10px;">' + attributes_type.name + '</h4><ul class="row">';
                attributes_type.program_attributes.forEach(function(program_attribute){
                    if(program_attribute.risk == 0){
                        html += '<li class="col-6 py-2">' + program_attribute.name + ': <button type="button" class="btn btn-success btn-sm">' + program_attribute.value + ' </button></li>';
                    }
                    else if(program_attribute.risk == 1){
                        html += '<li class="col-6 py-2">' + program_attribute.name + ': <button type="button" class="btn btn-danger btn-sm">' + program_attribute.value + ' </button></li>';
                    }
                    else{
                        html += '<li class="col-6 py-2">' + program_attribute.name + ': <button type="button" class="btn btn-primary btn-sm">' + program_attribute.value + ' </button></li>';
                    }

                });
                html += '</ul>';
            });
            $("#ficha_instancia").html(html);
            //$("#ficha_observaciones").val(r.observaciones);
            //$("#ficha_seguimiento").val(r.observaciones);
            $('#overlay').fadeOut();
        })
    }

    function writeRow(instance){
        rowHTML = '<tr id="row_'+instance.id+'">' +
            '<td style="padding:0px; border:0px;"><img class="img-circle rounded-circle" src="https://core.afinidata.com/static/images/'+instance.image+'" width="50" height="50" style="padding:0px; border:0px;"></img></td>' +
            '<td><a href="" data-toggle="modal" data-target="#exampleModalCenter" onclick="fichaInstancia('+instance.id+')"><i class="fas fa-chevron-circle-down"></i></a> ' + instance.name + '</td>' +
            '<td><a href="https://program.afinidata.com/users/'+instance.user_id+'/" target="_blank"><i class="fas fa-chevron-circle-down"></i></a> ' + instance.username + '</td>' +
            '<td>'+instance.months+'</td>' +
            '<td>'+instance.birthdate+'</td>' +
            '<td>'+instance.tel+'</td>' +
            '<td>'+instance.dir+'</td>';
        if(instance.risk == 0){ rowHTML += '<td><button type="button" class="btn btn-success">Bajo</button></td>'; }
        else if (instance.risk == 1){ rowHTML += '<td><button type="button" class="btn btn-warning">Medio</button></td>'; }
        else{ rowHTML += '<td><button type="button" class="btn btn-danger">Alto</button></td>'; }

        rowHTML +='<td><button class="btn reportButton"><a href="https://contentmanager.afinidata.com/instances/'+instance.id+'/milestones/" class="btn btn-primary" role="button" target="_blank" aria-pressed="true"><i class="far fa-chart-bar"></i></a></button></td></tr>';
        $("#table_id tbody").append(rowHTML);
    }

    function filterInstances(e) {
        let data = new FormData();
        if('program_attribute_id' in e.dataPoint){
            data.append('attribute_id', String(e.dataPoint.program_attribute_id));
        }
        if('milestone_id' in e.dataPoint){
            data.append('milestone_id', String(e.dataPoint.milestone_id));
        }
        $("#pag_n").html(1);
        $("#table_id tbody tr").remove();
        getRequest(data, function(r){
            $("#filtrado_por").text("Filtrado por: "+e.dataPoint.label);
            $("#search_name").val("");
            r.data.forEach(function(instance){ writeRow(instance); });
            $('#overlay').fadeOut();
            $("body,html").animate({scrollTop: $("#tableContainer").offset().top}, 800);
        });
    }

    function searchInstances(){
        let data = new FormData();
        var edades = [];
        $.each($("input[name='search_age_option']:checked"), function(){
            edades.push($(this).val());
        });
        var search_edad = edades.join(",");
        if($("#search_name").val() != '' || search_edad != ''){
            data.append('name', String($("#search_name").val()));
            data.append('months', String(search_edad));
            $("#pag_n").html(1);
            $("#table_id tbody tr").remove();
            getRequest(data, function(r){
                $("#filtrado_por").text("Filtrado por:");
                r.data.forEach(function(instance){ writeRow(instance); });
                $('#overlay').fadeOut();
                $("body,html").animate({scrollTop: $("#tableContainer").offset().top}, 800);
            });
        }
    }

    function searchAllInstances(){
        let data = new FormData();
        data.append('all', String("true"));
        $("#pag_n").html(1);
        $("#table_id tbody tr").remove();
        getRequest(data, function(r){
            $("#filtrado_por").text("Mostrar todos:");
            r.data.forEach(function(instance){ writeRow(instance); });
            $('#overlay').fadeOut();
            $("body,html").animate({scrollTop: $("#tableContainer").offset().top}, 800);
        });
    }

    function changePag(n){
        if(n == -1){
            requestData.set('pag', Math.max(0, Number(requestData.get('pag')) - 1));
        }
        else if(n == 0){
            requestData.set('pag', 0);
        }
        else if(n == 1){
            requestData.set('pag', Math.min(total_pag, Number(requestData.get('pag')) + 1));
        }
        else if(n == 2){
            requestData.set('pag', total_pag);
        }
        $("#pag_n").html(Number(requestData.get('pag')) + 1);
        $("#page_label").html("Pág. " + Number(Number(requestData.get('pag')) + 1) + " / " + Number(Number(total_pag) + 1));
        $("#table_id tbody tr").remove();
        getRequest(requestData, function(r){
            $("#filtrado_por").text("Mostrar todos:");
            r.data.forEach(function(instance){ writeRow(instance); });
            $('#overlay').fadeOut();
            $("body,html").animate({scrollTop: $("#tableContainer").offset().top}, 800);
        });
    }

    (() => {
       window.addEventListener('load', e => {
            let data = new FormData();
            getRequest(data, function(r){
                document.querySelector('#assignations').textContent = r.data.count
                document.querySelector('#children').textContent = r.data.children
                chartsArray = []
                for (i = 0; i < r.factores_riesgo.length; i++) {
                    document.querySelector('#attribute_type_count_'+r.factores_riesgo[i].id).textContent = r.factores_riesgo[i].total;
                    chartsArray[i] = {id:r.factores_riesgo[i].id, chart:new CanvasJS.Chart("chartRiskContainer"+r.factores_riesgo[i].id, chartStartData)};
                    chartsArray[i]['chart'].options.data[0].dataPoints = r.factores_riesgo[i].factores_riesgo;
                    chartsArray[i]['chart'].render();
                    $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                }
                document.querySelector('#milestones_count').textContent = r.milestones_count;
                chartMilestones.options.data[0].dataPoints = r.milestones;
                chartMilestones.options.axisX.labelFontSize = 14;
                $("#chartMilestonesContainer").show();
                chartMilestones.render();
                $('#milestonesCard').click(function () {
                    for(i = 0; i < chartsArray.length; i++){
                        $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                    }
                    $("#chartMilestonesContainer").show();
                });
                $(('[id^="attribute_type_"]')).click(function () {
                    $("#chartMilestonesContainer").hide();
                    for(i = 0; i < chartsArray.length; i++){
                        $("#chartRiskContainer"+chartsArray[i]['id']).hide();
                        if("attribute_type_"+chartsArray[i]['id'] == $(this).attr('id')){
                            $("#chartRiskContainer"+chartsArray[i]['id']).show();
                        }
                    }
                });
                $("#pagination").hide();
                let data1 = new FormData();
                data1.append('all', String("true"));
                getRequest(data1, function(r){
                    $("#filtrado_por").text("Mostrar todos:");
                    r.data.forEach(function(instance){ writeRow(instance); });
                    $('#overlay').fadeOut();
                });
            });
       })
    })()

    window.onload = function () {
        var bar_ctx = document.getElementById('chart').getContext('2d');
        var background_1 = bar_ctx.createLinearGradient(0, 0, 600, 0);
        background_1.addColorStop(0, 'rgb(0,89,217)');
        background_1.addColorStop(1, 'rgb(105,176,255)');
        chartStartData = {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            axisY: {
                includeZero: true,
                valueFormatString:" "
            },
            axisX:{
              labelFontFamily: "tahoma",
              labelFontSize: 16
            },
            data: [{
                type: "bar",
                click: filterInstances,
                color: background_1,
                indexLabelFontFamily: "tahoma",
                indexLabelFontSize: 18,
                indexLabelPlacement: "inside",
                indexLabel: "{y} {y_label}",
                toolTipContent: "{label}: {y}",
                showInLegend: false,
                indexLabelFontColor: "white",
                legendMarkerColor: "white",
                legendText: "Respuestas",
                includeZero: true,
                cursor: "pointer",
                dataPoints: [{ y: 0, y_label: "", label: "Loading..." }]
            }]
        }
        chartMilestones = new CanvasJS.Chart("chartMilestonesContainer", chartStartData);

        $('#search_name').keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                searchInstances();
            }
        });
    }
    </script>

{% endblock %}