{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 group-title" data-group-id="{{ object.pk }}">Grupo: {{ object.name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de Usuarios</div>
                                <h3 class="h5 mb-0 font-weight-bold text-gray-800">{{ object.assignationmessengeruser_set.all.count }}</h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de Niños</div>
                                <h3 class="h5 mb-0 font-weight-bold text-gray-800">{{ children }}</h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Actividades enviadas</div>
                                <h3 class="h5 mb-0 font-weight-bold text-gray-800 assignations">Loading...</h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-xs-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Información</h6>
                    </div>
                    <div class="card-body">
                        <strong class="text-gray-900">Creado: </strong><span>{{ object.created_at }}</span><br>
                        {% if object.parent %}
                            <strong class="text-gray-900">Grupo padre: </strong><a href="{% url 'groups:group' group_id=object.parent_id %}">{{ object.parent.name }}</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xs-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Asignaciones</h6>
                    </div>
                    <div class="card-body">
                        <strong class="text-gray-900">Bots:
                            {% if not object.bots.exists %}
                                <a href="{% url 'groups:add_bot' group_id=object.pk %}">Agregar</a>
                            {% endif %}
                        </strong>
                        <ul>
                            {% for bot in object.bots.all %}
                                <li>
                                    <strong class="text-gray-900">{{ bot.name }}</strong>
                                </li>
                            {% endfor %}
                        </ul>
                        <strong class="text-gray-900">Programas:
                            {% if not object.programs.exists %}
                                 <a href="{% url 'groups:add_program' group_id=object.pk %}">Agregar</a>
                            {% endif %}
                        </strong>
                        <ul>
                            {% for program in object.programs.all %}
                                <li>
                                    <strong class="text-gray-900">{{ program.name }}</strong>
                                    <a href="{% url 'programs:program_detail' program_id=program.pk %}">Ver</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Usuarios de plataforma</h1>
            {% if perms.groups.add_rolegroupuser %}
                <a href="{% url 'groups:add_user_group' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Agregar usuario</a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Asignaciones</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Nombre de usuario</th>
                          <th>Rol</th>
                          <th>Fecha de asignación</th>
                          <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignation in object.rolegroupuser_set.all %}
                            <tr>
                                <td>{{ assignation.user.username }}</td>
                                <td>{{ assignation.role }}</td>
                                <td>{{ assignation.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="" class="btn btn-success"><i class="fas fa-pen"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Usuarios de bot</h1>
            <div>
                <a href="{% url 'groups:messenger_user_list' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-list fa-sm text-white-50"></i> Ver usuarios</a>
                {% if permsgroups.add_assignationmessengeruser %}
                    <a href="{% url 'groups:add_messenger_user_group' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Adjuntar Usuario</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Usuarios recientes</h6>
               <div>
                   <span>Total: {{ object.assignationmessengeruser_set.all.count }}</span>
               </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Niños</th>
                          <th>Se unió en</th>
                          <th>Asignado en</th>
                          <th>Código</th>
                          <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignation in last_assignations %}
                            <tr>
                                <td>
                                    (<a href="{% url 'messenger_users:user' id=assignation.messenger_user_id %}">{{ assignation.messenger_user_id }}</a>)
                                    {{ assignation.get_messenger_user.first_name }} {{ assignation.get_messenger_user.last_name }}
                                </td>
                                <td>
                                    {% for instance in assignation.get_messenger_user.get_instances %}
                                        (<a href="{% url 'instances:instance' id=instance.pk %}">{{ instance.pk }}</a>)
                                        <span>{{ instance.name }}</span>
                                        (<a href="{% url 'entities:entity_detail' entity_id=instance.entity_id %}">{{ instance.entity.name }}</a>)
                                        <br>
                                    {% endfor %}
                                </td>
                                <td>{{ assignation.get_messenger_user.created_at }}</td>
                                <td>{{ assignation.created_at }}</td>
                                <td>{% if assignation.code %}{{ assignation.code }}{% else %}--{% endif %}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'groups:remove_user_to_group' group_id=object.pk assignation_id=assignation.pk %}"
                                           class="btn btn-danger"><i class="fas fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Códigos</h1>
            <div>
                {% if perms.groups.add_code %}
                    <a href="{% url 'groups:add_code_group' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Agregar Código</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Código</th>
                          <th>Intercambio</th>
                          <th>Disponible</th>
                          <th>Creado</th>
                          <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for code in object.code_set.all %}
                            <tr>
                                <td>{{ code }}</td>
                                <td>{{ code.exchanges }}</td>
                                <td>
                                    {% if code.available %}
                                         <i class="fas fa-check-circle fa-2x text-success"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle fa-2x text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>{{ code.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="" class="btn btn-success"><i class="fas fa-pen"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        (() => {
           window.addEventListener('load', e => {
               const DOMAIN =  window.location.origin
               const GROUP_ID = document.querySelector('.group-title').dataset.groupId

               if(GROUP_ID) {
                   const URI = `${DOMAIN}/utilities/group_assignations/`

                   let data = new FormData()
                   data.append('group', String(GROUP_ID))
                   let request = fetch(URI, {
                       method: 'post',
                       body: data
                   })
                    .then(r => r.json())
                    .then(r => {
                        let assign = document.querySelector('.assignations')
                        assign.textContent = r.data.count
                    })
               }
           })
        })()
    </script>
{% endblock %}