{% extends 'base/private.html' %}

{% block title %}Instancia: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.name }}</h1>
            <div>
                {% if perms.instances.view_all_instances %}

                {% endif %} 
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Info</h6>
                    </div>
                    <div class="card-body">
                        <strong class="text-gray-900">Tipo: </strong>
                        {% if perms.entities.view_entity %}
                            <a href="{% url 'entities:entity_detail' entity_id=object.entity_id %}">{{ object.entity.name }}</a>
                        {% else %}
                            {{ object.entity.name }}
                        {% endif %}<br>
                        <strong class="text-gray-900">Encargados: </strong>
                            <ul>
                                {% for user in instance.get_users %}
                                  <li>(<a href="{% url 'messenger_users:user' id=user.pk %}">{{ user.pk }}</a>) <span>{{ user.first_name }} {{ user.last_name }}</span></li>
                              {% endfor %}
                            </ul>
                        <strong class="text-gray-900">Fecha de Creación: </strong><span>{{ object.created_at }}</span><br>
                        <strong class="text-gray-900">Última Actualización: </strong><span>{{ object.updated_at }}</span><br>
                        {% if perms.instances.change_instance or perms.instances.delete_instance %}
                        <strong class="text-gray-900">Acciones: </strong>
                            {% if perms.instances.change_instance %}
                                <a href="{% url 'instances:edit' id=object.pk %}" class="btn btn-success">Editar</a>
                            {% endif %}
                            {% if perms.instances.delete_instance %}
                                <a href="{% url 'instances:delete' id=object.pk %}" class="btn btn-danger">Borrar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Áreas</h6>
                    </div>
                    <div class="card-body">
                        <canvas class="areas-charts" id="areasCharts" style="width: 100%" height="174"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Actividades</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4">

              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Enviadas (Este mes)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ assigned_activities }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Completadas (Este mes)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ completed_activities }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Enviadas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_activities.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Actividades Completadas</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_completed_activities.count }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Actividades Asignadas (Este mes)</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Fecha de Asignación</th>
                                    <th>Completada en</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td>{{ post.pk }}</td>
                                        <td>{{ post.name }}</td>
                                        <td>
                                            {% if post.last_session %}
                                                <i class="fas fa-check-circle fa-2x text-success"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle fa-2x text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if post.last_assignation %}
                                                {{ post.last_assignation.created_at }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if post.last_session %}
                                                {{ post.last_session.created_at }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Month Progress</h6>
            </div>
            <div class="card-body">
                <canvas class="past-months-charts" id="pastMonthsCharts" style="width: 100%" height="400"></canvas>
            </div>
        </div>
    </div> -->

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Atributos</h1>
            <div>
                {% if perms.instances.add_attributevalue %}
                    <a href="{% url 'instances:add_instance_attribute' instance_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Añadir Atributo</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Últimos Atributos</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                  <th>Atributo</th>
                                  <th>Pregunta</th>
                                  <th>Respuesta</th>
                                  <th>Valor</th>
                                  <th>Última Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reply in quick_replies %}
                                    <tr>
                                        <td>{{ reply.attribute }}</td>
                                        <td>{{ reply.question }}</td>
                                        <td>{{ reply.answer }}</td>
                                        <td>{{ reply.value }}</td>
                                        <td>{{ reply.response }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        let ctx = document.getElementById('areasCharts');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for area in areas %}
                        '{{ area.name }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Asignadas',
                        data: [
                            {% for area in areas %}
                                {{ area.assigned_activities }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for area in areas %}
                                'rgba(255, 99, 132, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for area in areas %}
                                'rgba(255, 99, 132, 1)',
                            {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Completadas',
                        data: [
                            {% for area in areas %}
                                {{ area.completed_activities }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for area in areas %}
                                'rgba(54, 162, 235, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for area in areas %}
                                'rgba(54, 162, 235, 1)',
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <script>
        /* let newCtx = document.getElementById('pastMonthsCharts');
        let fakeMetrics = {
            1: [{y: 25, x: '02-04-2020'}, {y: 23, x: '04-04-2020'}, {y: 10, x: '07-04-2020'}],
            2: [66, 21, 34],
            3: [34, 34, 20]
        }

        let myLineChart = new Chart(newCtx, {
            type: 'line',
            data: {
                labels: [
                    {% for label in labels %}
                        "{{ label | date:"d-m-yy" }}",
                    {% endfor %}
                ],
                datasets: [
                    {% for area in areas %}
                        {
                            label: '{{ area.name }}',
                            data: [
                                {% for feed in area.feeds %}
                                    {y: {{ feed.value }}, x: '{{ feed.created_at|date:"d-m-yy" }}' },
                                {% endfor %}
                            ],
                            backgroundColor: '{{ area.background_color }}',
                            borderColor: '{{ area.point_color }}',
                            fill: false
                        },
                    {% endfor %}
                ]
            },
            options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					x: {
						display: true,
						scaleLabel: {
							display: true,
                            labelString: 'Days of month'
						},
                        xAxes: [{
                            stacked: true
                        }]
					},
					y: {
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						},
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                max: 5,
                                min: 0,
                                stepSize: 1,
                                suggestedMin: 0,
                                suggestedMax: 5
                            }
                        }]
					}
				}
			}
        }); */
    </script>
{% endblock %}