{% extends 'base/private.html' %}
{% block title %}Afinidata | Instances{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Instances</h1>
            <a href="{% url 'instances:new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Create Instance</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Instances List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Entity</th>
                          <th>Users</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Entity</th>
                          <th>Users</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for instance in object_list %}
                            <tr>
                              <td>{{ instance.pk }}</td>
                              <td>{{ instance.name.capitalize }}</td>
                              <td><a href="{% url 'entities:entity' id=instance.entity.pk %}">{{ instance.entity.name.title }}</a></td>
                              <td>
                                  {% for user in instance.get_users %}
                                      (<a href="{% url 'messenger_users:user' id=user.pk %}">{{ user.pk }}</a>) <span>{{ user.get_first_name }} {{ user.get_last_name }}</span>
                                      <br>
                                  {% endfor %}
                              </td>
                              <td>
                                  <div class="btn-group">
                                      <a href="{% url 'instances:instance' id=instance.pk %}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                      <a href="{% url 'instances:edit' id=instance.pk %}" class="btn btn-success"><i class="fa fa-pen"></i></a>
                                      <a href="{% url 'instances:delete' id=instance.pk %}" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                  </div>
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
                {% include 'base/pagination.html' %}
            </div>
        </div>
    </div>

{% endblock %}