{% extends 'base/private.html' %}

{% block title %}Instance: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.name }}</h1>
            <div>
                <span>{{ first_month }}</span>
                <span>{{ today }}</span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Info</h6>
                    </div>
                    <div class="card-body">
                        <strong class="text-gray-900">Entity: </strong><a href="{% url 'entities:entity_detail' entity_id=object.entity_id %}">{{ object.entity.name.title }}</a><br>
                        <strong class="text-gray-900">Users: </strong>
                            <ul>
                                {% for user in instance.get_users %}
                                  <li>(<a href="{% url 'messenger_users:user' id=user.pk %}">{{ user.pk }}</a>) <span>{{ user.get_first_name }} {{ user.get_last_name }}</span></li>
                              {% endfor %}
                            </ul>
                        <strong class="text-gray-900">Created At: </strong><span>{{ object.created_at }}</span><br>
                        <strong class="text-gray-900">Last updated At: </strong><span>{{ object.updated_at }}</span><br>
                        {% if perms.instances.change_instance or perms.instances.delete_instance %}
                        <strong class="text-gray-900">Actions: </strong>
                            {% if perms.instances.change_instance %}
                                <a href="{% url 'instances:edit' id=object.pk %}" class="btn btn-success">Edit</a>
                            {% endif %}
                            {% if perms.instances.delete_instance %}
                                <a href="{% url 'instances:delete' id=object.pk %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Areas</h6>
                    </div>
                    <div class="card-body">
                        <canvas class="areas-charts" id="areasCharts" style="width: 100%" height="174"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Activities</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mb-4">

              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sent Activities (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ assigned_activities }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Completed (Monthly)</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ completed_activities }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-3 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sent Activities</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_activities.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Completed Activities</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_completed_activities.count }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Assigned Activities (Monthly)</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Date Assigned</th>
                                    <th>Date Completed</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td>{{ post.pk }}</td>
                                        <td>{{ post.name }}</td>
                                        <td>
                                            {% if post.last_session %}
                                                <i class="fas fa-check-circle fa-2x text-success"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle fa-2x text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if post.last_assignation %}
                                                {{ post.last_assignation.created_at }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if post.last_session %}
                                                {{ post.last_session.created_at }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Month Progress</h6>
            </div>
            <div class="card-body">
                <canvas class="past-months-charts" id="pastMonthsCharts" style="width: 100%" height="400"></canvas>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Attributes</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Last Attributes</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>Attribute</th>
                                  <th>Last Value</th>
                                  <th>Last Response</th>
                                  <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in instance.get_attributes %}
                                    <tr>
                                        <td><a href="{% url 'attributes:attribute_detail' attribute_id=attribute.pk %}">{{ attribute }}</a></td>
                                        <td>{{ attribute.assign.value }}</td>
                                        <td>{{ attribute.assign.created_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                <a href="#" class="btn btn-success"><i class="fa fa-pen"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        let ctx = document.getElementById('areasCharts');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for area in areas %}
                        '{{ area.name }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Assigned',
                        data: [
                            {% for area in areas %}
                                {{ area.assigned_activities }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for area in areas %}
                                'rgba(255, 99, 132, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for area in areas %}
                                'rgba(255, 99, 132, 1)',
                            {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Completed',
                        data: [
                            {% for area in areas %}
                                {{ area.completed_activities }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for area in areas %}
                                'rgba(54, 162, 235, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for area in areas %}
                                'rgba(54, 162, 235, 1)',
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

    <script>
        let newCtx = document.getElementById('pastMonthsCharts');
        let fakeMetrics = {
            1: [{y: 25, x: '02-04-2020'}, {y: 23, x: '04-04-2020'}, {y: 10, x: '07-04-2020'}],
            2: [66, 21, 34],
            3: [34, 34, 20]
        }

        let myLineChart = new Chart(newCtx, {
            type: 'line',
            data: {
                labels: [
                    {% for label in labels %}
                        "{{ label | date:"d-m-yy" }}",
                    {% endfor %}
                ],
                datasets: [
                    {% for area in areas %}
                        {
                            label: '{{ area.name }}',
                            data: [
                                {% for feed in area.feeds %}
                                    {y: {{ feed.value }}, x: '{{ feed.created_at|date:"d-m-yy" }}' },
                                {% endfor %}
                            ],
                            backgroundColor: '{{ area.background_color }}',
                            borderColor: '{{ area.point_color }}',
                            fill: false
                        },
                    {% endfor %}
                ]
            },
            options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					x: {
						display: true,
						scaleLabel: {
							display: true,
                            labelString: 'Days of month'
						},
                        xAxes: [{
                            stacked: true
                        }]
					},
					y: {
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						},
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                max: 5,
                                min: 0,
                                stepSize: 1
                            }
                        }]
					}
				}
			}
        });
    </script>
{% endblock %}