{% extends 'base/private.html' %}

{% block title %}Etapa: {{ object.name }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Etapa: {{ object.name }}</h1>
            <div>
                {% if perms.programs.add_level %}
                    <a href="{% url 'programs:level_create' program_id=program.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Crear Etapa</a>
                {% endif %}
                {% if perms.programs.view_user_programs %}
                    <a href="{% url 'programs:program_detail' program_id=program.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-eye fa-sm text-white-50"></i> Ver Programa</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                <strong class="text-gray-900">Nombre: </strong>{{ object.name }}<br>
                <strong class="text-gray-900">Descripción: </strong>{{ object.description }}<br>
                <strong class="text-gray-900">Mínima Asignación: </strong>{{ object.assign_min }}<br>
                <strong class="text-gray-900">Máxima Asignación: </strong>{{ object.assign_max }}<br>
                <strong class="text-gray-900">Acciones: </strong>
                {% if perms.programs.change_level %}
                    <a href="{% url 'programs:level_edit' program_id=program.pk level_id=object.pk %}"
                       class="btn btn-success">Editar</a>
                {% endif %}
                {% if perms.programs.delete_level %}
                    <a href="{% url 'programs:level_delete' program_id=program.pk level_id=object.pk %}"
                       class="btn btn-danger">Eliminar</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}