{% extends 'base/private.html' %}

{% block title %}Level: {{ object.name }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Level: {{ object.name }}</h1>
            <div>
                {% if perms.programs.add_level %}
                    <a href="{% url 'programs:level_create' program_id=program.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Create Level</a>
                {% endif %}
                {% if perms.programs.view_user_programs %}
                    <a href="{% url 'programs:program_detail' program_id=program.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-eye fa-sm text-white-50"></i> View Program</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                <strong class="text-gray-900">Name: </strong>{{ object.name }}<br>
                <strong class="text-gray-900">Description: </strong>{{ object.description }}<br>
                <strong class="text-gray-900">Assign Min: </strong>{{ object.assign_min }}<br>
                <strong class="text-gray-900">Assign Max: </strong>{{ object.assign_max }}<br>
                <strong class="text-gray-900">Actions: </strong>
                {% if perms.programs.change_level %}
                    <a href="{% url 'programs:level_edit' program_id=object.program_id level_id=object.pk %}"
                       class="btn btn-success">Edit</a>
                {% endif %}
                {% if perms.programs.delete_level %}
                    <a href="{% url 'programs:level_delete' program_id=object.program_id level_id=object.pk %}"
                       class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Milestones</h1>
            <div>
                {% if perms.programs.add_levelmilestoneassociation %}
                    <a href="{% url 'programs:add_level_milestone' level_id=object.pk program_id=object.program_id %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Assign Milestone</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for milestone in object.milestones.all %}
                            <tr>
                                <td>{{ milestone.pk }}</td>
                                <td>{{ milestone.code }}</td>
                                <td>{{ milestone.name }}</td>
                                <td>
                                    {% if perms.milestones.view_milestone %}
                                        <a href="{% url 'milestones:milestone' milestone_id=milestone.pk %}"
                                           class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}