{% extends 'base/private.html' %}

{% block title %}Level Content for {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="text-align: center; margin-bottom: 2em;">
                    <h2 class="font-weight-bold"><span class="text-warning">{{ total }}</span> Content Materials</h2>
                </div>

                {% for topic in topics %}

                    <div class="row mb-5">
                        <div class="col-12 col-md-5 col-lg-3">
                            <div class="text-center">
                                <h4>{{ topic }}</h4>
                                <h1 class="text-primary font-weight-bold">{{ topic.session_count }}</h1>
                                <span class="text-primary font-weight-bold">Sessions</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-7">
                            <table class="table">
                                <tbody>
                                {% for area in topic.areas %}
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                {{area}} <i class="fas fa-check-circle fa-2x text-success"></i>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-md-12 col-lg-2"><a href="{% url 'programs:level_topic_detail' program_id=program.pk level_id=object.pk topic_id=topic.pk %}"
                                              class="btn btn-primary">Información y Tips</a></div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}