{% extends 'base/private.html' %}

{% block title %}New program: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div style="text-align: center; margin-bottom: 2em;">
                    <p>There are: </p>
                    <h1 class="text-warning font-weight-bold">{{ total }}</h1>
                    <h2 class="font-weight-bold">Content Materials</h2>
                    <span>Available for your program</span>
                </div>

                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for level in levels %}
                        <tr>
                            <td>{{ level }}</td>
                            <td>{{ level.post_count }}</td>
                            <td>
                                <a href="{% url 'programs:level_content' program_id=object.pk level_id=level.pk %}"
                                   class="btn btn-primary">Revisar Contenido</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}