{% extends 'base/private.html' %}

{% block title %}Select Areas{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Select Areas for program</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Program: </label>
                        <input type="text" class="form-control" disabled value="{{ program }}">
                    </div>
                    {% include 'base/default_form.html' %}
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Select Areas</button>
                </form>
            </div>
        </div>
     </div>

{% endblock %}