{% extends 'base/private.html' %}

{% block title %}Tema: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tema: {{ object.name }}</h1>
            <div>
                {% if perms.topics.view_topic %}
                    <a href="{% url 'topics:topic_list' %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-list fa-sm text-white-50"></i>Listado de Temas</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Información</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                <strong class="text-gray-900">Programa: </strong>{{ program }}<br>
                <strong class="text-gray-900">Etapa: </strong>{{ level }}<br>
                <strong class="text-gray-900">Descripción: </strong>{{ object.description }}<br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Sesiones</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive-md">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Casillas</th>
                          <th>Mínimo</th>
                          <th>Máximo</th>
                          <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                            <tr>
                                <td>{{ session.pk }}</td>
                                <td>{{ session.name }}</td>
                                <td>
                                    {{ session.field_set.count }}
                                </td>
                                <td>{{ session.min }}</td>
                                <td>{{ session.max }}</td>
                                <td>
                                    <a href="{% url 'programs:level_session_detail' program_id=program.pk session_id=session.pk %}"
                                       class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}