{% extends 'base/private.html' %}

{% block title %}Unauthorized{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">No autorizado</h1>
        </div>
    </div>

    <div class="container-fluid">
        <p>No tienes permisos para ver esta sección. </p>
        <p>Puedes regresar haciendo click <a href="{{request.META.HTTP_REFERER}}">aquí <i class="fas fa-reply"></i></a></p>
    </div>
{% endblock %}