{% extends 'base/private.html' %}

{% block title %}
    Create Afinidata User
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Afinidata User</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form action="." method="post">
                    {% csrf_token %}
                    <h4>User data</h4>
                    {% include 'base/default_form.html' %}
                    <h4>Child Data</h4>
                    {% include 'base/default_form.html' with form=child_form %}
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Create User</button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}