{% extends 'base/private.html' %}
{% load last_value %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.first_name }} {{ object.last_name }}</h1>
            <div>
                {% if request.user.is_superuser %}
                    <a href="{% url 'messenger_users:user_interactions' id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-eye fa-sm text-white-50"></i> Ver todas las interacciones</a>
                {% endif %}
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:user_initial_data' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Añadir Datos Iniciales</a>
                {% endif %}
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:user_create_data' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Añadir Datos</a>
                {% endif %}
                {% if perms.messenger_users.view_userdata %}
                <a href="{% url 'messenger_users:user_data_list' user_id=user.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-eye fa-sm text-white-50"></i> Ver Datos</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                <strong class="text-gray-900">Nombre: </strong>{{ object.first_name }}<br>
                <strong class="text-gray-900">Apellido: </strong>{{ object.last_name }}<br>
                <strong class="text-gray-900">Nombre de Usuario: </strong>{{ object.username }}<br>
                <strong class="text-gray-900">Fecha de Ingreso: </strong>{{ object.created_at }}<br>
                <strong class="text-gray-900">ID de Canal: </strong>{{ object.last_channel_id }}<br>
                <strong class="text-gray-900">Bot: </strong><a href="{% url 'bots:bot_detail' bot_id=object.bot_id %}">{{ object.get_bot.name }}</a><br>
                <strong class="text-gray-900">Correo Electrónico: </strong>{{ user|get_last_value:'email' }}<br>
                <strong class="text-gray-900">Pais: </strong>{{  user|get_last_value:'Pais' }}<br>
                <strong class="text-gray-900">Tipo de licencia: </strong>{{  user|get_last_value:'tipo_de_licencia' }}<br>
                <strong class="text-gray-900">Tipo de Usuario: </strong>{{  user|get_last_value:'user_type' }}<br>
                <strong class="text-gray-900">Registro de Usuario: </strong>{{  user|get_last_value:'user_reg' }}<br>
                <strong class="text-gray-900">Idioma: </strong>{{  user.language.name }}<br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Instancias</h1>
            <div>
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:add_child' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Añadir Niño</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Niños asociados</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive-md">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Tipo de instancia</th>
                                    <th>Fecha de Creación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in user.get_instances %}
                                    <tr>
                                        <td>{{ instance.pk }}</td>
                                        <td>{{ instance.name }}</td>
                                        <td>
                                            {% if perms.entities.view_entity %}
                                                <a href="{% url 'entities:entity_detail' entity_id=instance.entity_id %}">{{ instance.entity.name }}</a>
                                            {% else %}
                                                {{ instance.entity.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ instance.created_at }}</td>
                                        <td>
                                            <div class="btn-group">

                                        <a href="{% url 'instances:instance' id=instance.pk %}" class="btn btn-primary">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Últimos Atributos</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered  table-responsive-md">
                            <thead>
                                <tr>
                                  <th>Atributo</th>
                                  <th>Último Valor</th>
                                  <th>Última Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in user.get_attributes %}
                                    <tr>
                                        <td>{{ attribute.data_key }}</td>
                                        <td>{{ attribute.value }}</td>
                                        <td>{{ attribute.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Respuesta Cortas</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                  <th>Atributo</th>
                                  <th>Sesión</th>
                                  <th>Pregunta</th>
                                  <th>Respuesta</th>
                                  <th>Valor</th>
                                  <th>Última Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reply in quick_replies %}
                                    <tr>
                                        <td>{{ reply.attribute }}</td>
                                        <td>{{ reply.session }}</td>
                                        <td>{{ reply.question }}</td>
                                        <td>{{ reply.answer }}</td>
                                        <td>{{ reply.value }}</td>
                                        <td>{{ reply.response }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}