{% extends 'base/private.html' %}

{% block title %}Últimos atributos de {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Últimos atributos de {{ user.first_name }} {{ user.last_name }}</h1>
            <div>
                <a href="{% url 'messenger_users:user' id=user.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-eye fa-sm text-white-50"></i> Ver usuario</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Atributo</th>
                          <th>Valor</th>
                          <th>Creado</th>
                          <th>Editar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Atributo</th>
                          <th>Valor</th>
                          <th>Creado</th>
                          <th>Editar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.data_key }}</td>
                                <td>{{ object.data_value }}</td>
                                <td>{{ object.created }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'messenger_users:user_edit_data' user_id=user.pk userdata_id=object.pk %}"
                                           class="btn btn-success">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'messenger_users:user_delete_data' user_id=user.pk userdata_id=object.pk %}"
                                           class="btn btn-danger">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
                {% include 'base/pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}