{% extends 'base/private.html' %}
{% load last_value %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.first_name }} {{ object.last_name }}</h1>
            <div>
                <a href="{% url 'messenger_users:user_interactions' id=user.pk %}"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-eye fa-sm text-white-50"></i> All Interactions</a>
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:user_initial_data' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Initial Data</a>
                {% endif %}
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:user_create_data' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Data</a>
                {% endif %}
                {% if perms.messenger_users.view_userdata %}
                <a href="{% url 'messenger_users:user_data_list' user_id=user.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-eye fa-sm text-white-50"></i> View Data</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">ID: </strong>{{ object.pk }}<br>
                <strong class="text-gray-900">Name: </strong>{{ object.first_name }}<br>
                <strong class="text-gray-900">Last Name: </strong>{{ object.last_name }}<br>
                <strong class="text-gray-900">Username: </strong>{{ object.username }}<br>
                <strong class="text-gray-900">Joined At: </strong>{{ object.created_at }}<br>
                <strong class="text-gray-900">Channel ID: </strong>{{ object.last_channel_id }}<br>
                <strong class="text-gray-900">Bot: </strong><a href="{% url 'bots:bot_detail' bot_id=object.bot_id %}">{{ object.get_bot.name }}</a><br>
                <strong class="text-gray-900">Email: </strong>{{ user|get_last_value:'email' }}<br>
                <strong class="text-gray-900">Country: </strong>{{  user|get_last_value:'Pais' }}<br>
                <strong class="text-gray-900">License Type: </strong>{{  user|get_last_value:'tipo_de_licencia' }}<br>
                <strong class="text-gray-900">User Type: </strong>{{  user|get_last_value:'user_type' }}<br>
                <strong class="text-gray-900">User Rol: </strong>{{  user|get_last_value:'user_rol' }}<br>
                <strong class="text-gray-900">User Reg: </strong>{{  user|get_last_value:'user_reg' }}<br>
                <strong class="text-gray-900">Premium: </strong>{{  user|get_last_value:'premium' }}<br>
                <strong class="text-gray-900">Language: </strong>{{  user.language.name }}<br>
                <strong class="text-gray-900">Child Type: </strong>{{  user|get_last_value:'childtype' }}<br>
                <strong class="text-gray-900">Child Months: </strong>{{  user|get_last_value:'childMonths' }}<br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Instances</h1>
            <div>
                {% if perms.messenger_users.add_userdata %}
                    <a href="{% url 'messenger_users:add_child' user_id=user.pk %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Instance</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Assigned Instances</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive-md">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Instance Type</th>
                                    <th>Created At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in user.get_instances %}
                                    <tr>
                                        <td>{{ instance.pk }}</td>
                                        <td>{{ instance.name }}</td>
                                        <td>
                                            {% if perms.entities.view_entity %}
                                                <a href="{% url 'entities:entity_detail' entity_id=instance.entity_id %}">{{ instance.entity.name }}</a>
                                            {% else %}
                                                {{ instance.entity.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ instance.created_at }}</td>
                                        <td>
                                            <div class="btn-group">

                                        <a href="{% url 'instances:instance' id=instance.pk %}" class="btn btn-primary">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">last Attributes</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered  table-responsive-md">
                            <thead>
                                <tr>
                                  <th>Attributes</th>
                                  <th>Last Value</th>
                                  <th>Last Response</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in user.get_attributes %}
                                    <tr>
                                        <td>{{ attribute.data_key }}</td>
                                        <td>{{ attribute.value }}</td>
                                        <td>{{ attribute.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Respuesta Rápidas</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                  <th>Attribute</th>
                                  <th>Session</th>
                                  <th>Question</th>
                                  <th>Response</th>
                                  <th>Value</th>
                                  <th>Last Response</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reply in quick_replies %}
                                    <tr>
                                        <td>{{ reply.attribute }}</td>
                                        <td>{{ reply.session }}</td>
                                        <td>{{ reply.question }}</td>
                                        <td>{{ reply.answer }}</td>
                                        <td>{{ reply.value }}</td>
                                        <td>{{ reply.response }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}